@tailwind base;
@tailwind components;
@tailwind utilities;

body{
/* font-family: 'Nova Square', sans-serif; */
font-family: 'Chakra Petch', sans-serif;
}
html{
  scroll-behavior: smooth;
}

.custom-bg{
    background-color:#EEFF0C;
}
.overlay {
    text-align: end;
    position: relative;
    z-index:100;
}

.section-container .custom-image-animation {
    background-color: #EEFF0C;
    transform: translate(0px, 0px);
    transition: background-color 3s ease-in-out, transform 2s ease-in-out;
  }
  
  .section-container:hover .custom-image-animation {
    background-color: rgb(79, 247, 247);
    transform: translate(50px, 30px);
  }
  

.section-container .custom-font-animation {
    transform: translate(100px, 30px);
    opacity: 0.5;
    transition: transform 3s, opacity 3s;
  }
  
  .section-container:hover .custom-font-animation {
    transform: translate(0px, 10px);
    opacity: 1;
  }

  .custom-detail .details{
    opacity: 0;
    transition: opacity 1s;
  }
  .custom-detail:hover .details{
    opacity: 1;
  }

  .college {
    display: inline-block;
    position: relative;
    color: #0087ca;
    text-decoration: none; /* Remove the default underline */
    padding-bottom: 2px; /* Add some padding to separate the text from the underline */
  }
  
  .college:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px; /* Increase the height for a more noticeable underline */
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out; /* Shorten the duration for a quicker response */
  }
  
  .college:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }
  